@keyframes pulse {
  0% { transform: scale(1); opacity: .7; }
  50% { transform: scale(1.1); opacity: 1; }
  100% { transform: scale(1); opacity: .7; }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body.red {
  background: #330000;
}

body.yellow {
  background: #332200;
}

body.blue {
  background: #001933;
}

body.black {
  background: #000;
}
